*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
    }

    
.keyboard{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.key {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: background-color 0.3s, transform 0.1s;
}

.key.active {
  background-color: #00ff00;
  transform: scale(1.1);
}